<div class="wrapper" [ngClass]="{'active': expression}">

    <span class="icon-close" (click)="close()">
        <mat-icon>close</mat-icon>
    </span>

    <div class="form-box login">
        <h2>Login</h2>
        <form action="#">


            <div class="input-box">
                <span class="icon"><mat-icon >email</mat-icon></span>
                <input type="email" required>
                <label >Email</label>
            </div>

            <div class="input-box">
                <span class="icon"><mat-icon >lock</mat-icon></span>
                <input type="password" required>
                <label>Password</label>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox">Recordar contraseña</label>
                <a href="#">Olvidaste la contraseña?</a>
            </div>

            <button type="submit" class="btn">Login</button>
            <div class="login-register">
                <p>¿No eres miembro todavía?<a class="register-link" (click)="activateLogin()">Registrate aqui</a></p>
            </div>
        
        </form>
    </div>

    <div class="form-box register">
        <h2>Registro</h2>
        <form action="#">

            <div class="input-box">
                <span class="icon"><mat-icon >person</mat-icon></span>
                <input type="text" required>
                <label >Usuario</label>
            </div>

            <div class="input-box">
                <span class="icon"><mat-icon >email</mat-icon></span>
                <input type="email" required>
                <label >Email</label>
            </div>

            <div class="input-box">
                <span class="icon"><mat-icon >lock</mat-icon></span>
                <input type="password" required>
                <label>Password</label>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox">Acepta los terminos y condiciones?</label>
            </div>

            <button type="submit" class="btn">Registrarse</button>

            <div class="login-register">
                <p>¿Ya esmiembro?<a class="login-link" (click)="activateRegister()">Presione aqui</a></p>
            </div>
        
        </form>
    </div>

</div>
